body {
    font-family: sans-serif;
    background-color:#FFEFD5 ;
}
header{
    background-color: #BC8F8F;
    height: 65px; 
    color:#A52A2A ;
    border-radius: 30px;
    margin: 10px;
    padding: 25px;
    height: 25px;
    text-align: center;
}
h1 {
    color: #BC8F8F;
    text-align: center;
    border: 20px #A52A2A;
    text-size-adjus: ;
}
footer{
   background-color: #F08080;
   border-radius: 20px;
   text-align: center;
   height: 100px;
}
nav a{
    font-size: 20 px;
    text-decoration: none;
    color: #E9967A;
    border: 3px solid plum;
    border-radius: 15 px;
    background-color: purple;
    text-align: center ;
}
.product{
    background-color: #FF69B4 ;
    border-radius: 10px;
    text-align: center;
}
.petards{
    background-color: #FF69B4 ;
    border-radius: 10px;
    text-align: center;
}
.fontans{
    background-color: #FF69B4 ;
    border-radius: 10px;
    text-align: center;
}
.shari{
     background-color: #FF69B4 ;
    border-radius: 10px;
    text-align: center;
}
